
*{
    font-family: 'Times New Roman', Times, serif !important;
}

h3{
    font-size: x-large !important;
    font-weight: 500 !important;
    padding-top: 1%;
    color: #780000;
}

table{
  width: 100%;
  th, td:first-child{
    font-weight: bold !important;
    text-decoration: none !important;
  }
  th:first-child,td:first-child{
    border-right: 1px solid currentColor;
    text-align: center;
    width: 50px;
  }
}

.responsive-table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container-fluid{
  margin-top: 60px;
}